In [1]:
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

# import the necessary package
from data_generator import DataGenerator
from myutils import Utils

datagenerator = DataGenerator()
utils = Utils()

In [5]:
from baseline.PyOD import PYOD
from baseline.DevNet.run import DevNet
from baseline.Supervised import supervised
from baseline.DAGMM.run import DAGMM # Unsup

# dataset and model list / dict
dataset_list = ['6_cardio.npz', '25_musk.npz', '26_optdigits.npz', '37_speech.npz', '41_vowels.npz']

In [40]:
# seed for reproducible results
seed = 42

# import the dataset
datagenerator.dataset = '10_cover.npz' # specify the dataset name
data_cardio = datagenerator.generator(la=0.3, realistic_synthetic_mode=None, noise_type=None) # only 10% labeled anomalies are available

X_train=data_cardio['X_train']
y_train=data_cardio['y_train']
X_test = data_cardio['X_test']
y_test=data_cardio['y_test']

df_X_train = pd.DataFrame(X_train)
df_X_train.describe()

subsampling for dataset 10_cover.npz...
current noise type: None
{'Samples': 10000, 'Features': 10, 'Anomalies': 111, 'Anomalies Ratio(%)': 1.11}

,0,1,2,3,4,5,6,7,8,9
count,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000
mean,0.642396,0.414414,0.268031,0.204497,0.286921,0.347224,0.776778,0.813619,0.563842,0.297259
std,0.143249,0.296654,0.141594,0.152960,0.078972,0.236343,0.141045,0.121250,0.146211,0.200691
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.551948,0.164345,0.156863,0.087655,0.235211,0.159971,0.707865,0.741935,0.472222,0.155797
50%,0.658730,0.345404,0.254902,0.175310,0.266197,0.288792,0.803371,0.832258,0.563492,0.252007
75%,0.731602,0.652507,0.352941,0.284879,0.315493,0.487991,0.876404,0.903226,0.658730,0.366883
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [37]:
df_Y_train = pd.DataFrame(y_train)
print(df_Y_train.value_counts())
df_Y_train.value_counts(normalize=True)

0    6895
1     105
dtype: int64

0    0.985
1    0.015
dtype: float64

In [38]:
df_Y_test = pd.DataFrame(y_test)
print(df_Y_test.value_counts())
df_Y_test.value_counts(normalize=True)

0    2850
1     150
dtype: int64

0    0.95
1    0.05
dtype: float64

In [ ]:
150